<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Workout Data</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Min HR(bps)</string>
			<key>Key</key>
			<string>minHR</string>
			<key>DefaultValue</key>
			<string>60</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Max HR(bps)</string>
			<key>Key</key>
			<string>maxHR</string>
			<key>DefaultValue</key>
			<string>170</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>VO2 max(ml/min/kg)</string>
			<key>Key</key>
			<string>vo2max</string>
			<key>DefaultValue</key>
			<string>50.0</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IsSecure</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
